@model ICollection<PicerijaBarka5.Models.Dtos.PizzaDto>
@using PicerijaBarka5.Models
@{
    ViewBag.Title = "Home Page";
}

<section id="landImage" class="row full-row align-content-center">
    <div class="container">
        <div class="col-8 bordered bg-transparent-black">
            <div class="mr-auto text-white text-uppercase text-left py-4 px-5 h-60" id="landText">
                <h1><span class="text-orange text-italic">Welcome</span> to our</h1>
                <h1 class="text-large">Pizzeria <span class="text-orange">barka 5</span></h1>
                <hr class="red my-2 ml-0" />
                <h4>
                    It's more than just making a pizza
                </h4>
            </div>
        </div>
    </div>
</section>

<section id="About">
    <div class="row">
        <div class="col-7">
            <h1 class="text-uppercase">About us</h1>
            <hr class="red my-2 ml-0" />
            <p class="text-justify">
                We're a tradtional pizza restaurant in Skopje since 1988.
                The sourdough is the beating heart of our restaurant. Slowly fermenting organic Macedonian flour, on its way to become pizza.
                We believe in sourcing artisanal produce - local when available, but always delicious, sustainable and natural. We chose produce we love, and are transparent about it. We help our guests fight against a greedy food industry one bite at the time – and having a blast doing so!
                Don’t get us wrong. Downing pitchers of Prosecco, dashing Skopje Bitters and munching a mega tasty, fermented dough Pizza - it’s definitely still a guilty pleasure! But doesn’t it feel great to know that somebody else is benefiting from your sins?
                We call this the principle of “sin win”. You have fun and cash is generated for quality producers.
                Our restaurant enables you to help - not quite in your sleep -  but in booze and food.
                Come and join our little revolution!
                Let’s dine and drink for good.
            </p>
            <p class="text-justify">
                We've gained a reputation for never cutting corners and working with the finest quality ingredients no matter what.
                For those ones that are lazy while their stomach is aching from hunger, don't think you're going to wait for us whole day, you're getting your wood oven pizza on your doorstep immediately!
                The best thing is that you can follow your order by checking the current state on your website!
            </p>
        </div>
        <div class="col-5">
            <img class="mt-4 pt-4 img-fluid" src="~/Content/Images/pizza-making-event.jpg" />
        </div>
    </div>
</section>

<section id="customersValues">
    <h1 class="text-uppercase text-center">What our costumers value</h1>
    <hr class="red mx-auto mb-5" />
    <div class="row text-center">
        <div class="col">
            <i class="fas fa-pizza-slice circle-icon"></i>
            <h4>Product quality</h4>
            <p class="text-justify">
                We've gained a reputation for never cutting corners and working with the finest quality ingredients no matter what.
            </p>
        </div>
        <div class="col">
            <i class="fas fa-hourglass-half circle-icon"></i>
            <h4>Always on time</h4>
            <p class="text-justify">
                The best thing about eating pizza is feeling the cheese melting in your mouth. We can get you that feeling either you're waiting home for the pizza delivery or you're grabbing one at our place!
            </p>
        </div>
        <div class="col">
            <i class="fas fa-truck-loading circle-icon"></i>
            <h4>Doorstep delivery</h4>
            <p class="text-justify">
                For those ones that are lazy while their stomach is aching from hunger, don't think you're going to wait for us whole day, you're getting your wood oven pizza on your doorstep immediately!
            </p>
        </div>
        <div class="col">
            <i class="fas fa-lightbulb circle-icon"></i>
            <h4>Customize your taste</h4>
            <p class="text-justify">
                Tired of the classic pizza menu? Wanna mix some ingredients and make your own delicious pizza?
                Try that pleasure by using our online menu!
            </p>
        </div>
    </div>
</section>
<div class="row text-center pb-4 mb-2">
    <div class="col">
        <div class="text-center">
            @{
                var data = ViewData["Message"];
            }
            <p id="paraRate">This is how they rated us:</p>
            <p id="totalRat" class="d-none">@data.ToString()</p>
            <div class="d-inline pb-4">
                <i class="fa-lg fa fa-star-o ratingStar" rating="1" style="color:orange;cursor:pointer;"></i>
                <i class="fa-lg fa fa-star-o ratingStar" rating="2" style="color:orange;cursor:pointer;"></i>
                <i class="fa-lg fa fa-star-o ratingStar" rating="3" style="color:orange;cursor:pointer;"></i>
                <i class="fa-lg fa fa-star-o ratingStar" rating="4" style="color:orange;cursor:pointer;"></i>
                <i class="fa-lg fa fa-star-o ratingStar" rating="5" style="color:orange;cursor:pointer;"></i>
            </div>
        </div>
    </div>
</div>


<section id="menu" class="full-row bg-dark py-4">
    <div class="container text-right">
        <div class="row">
            <div class="col-6 align-self-center">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        @{
                            for (int i = 0; i < Model.Count; i++)
                            {
                                var active = "active";
                                if (i != 0)
                                {
                                    active = "";
                                }
                                <li data-target="#carouselExampleIndicators" data-slide-to="@i" class=@active></li>
                            }
                        }

                    </ol>
                    <div class="carousel-inner">
                        @{
                            for (int i = 0; i < Model.Count; i++)
                            {
                                var active = "active";
                                if (i != 0)
                                {
                                    active = "";
                                }
                                <div class="carousel-item @active">
                                    <img class="d-block w-100 img-fluid" src="~/Content/Images/pizza-wallpaper-full-hd-1080p-390199.jpg" alt="First slide">
                                    <div class="carousel-caption d-none d-md-block bg-transparent-black">
                                        <h5 class="text-orange">@Model.ElementAt(i).Name</h5>
                                        <hr class="red my-0" />
                                        <p>Can't make your choice? This is one of our top sellers!</p>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-6">
                <h1 class="text-uppercase text-orange">Our top sellers</h1>
                <hr class="red my-2 mr-0" />
                <p class="text-justify text-white">
                    Slowly fermenting organic Macedonian flour, on its way to become pizza.
                    We believe in sourcing artisanal produce - local when available, but always delicious, sustainable and natural. We chose produce we love, and are transparent about it. We help our guests fight against a greedy food industry one bite at the time – and having a blast doing so!
                </p>
                <p class="text-justify text-white">
                    You're getting already hungry just by looking at out top sellers - pizzas, aren't you? We're sure this info helped if you haven't made your mind and will lead you to the perfect decision!

                </p>
            </div>
        </div>
    </div>
    <div class="row text-center align-content-center">
        <div class="col-2 mx-auto">
            <a class="btn bg-orange text-white mt-4 font-weight-bold btn-block" href="@Url.Action("Index", "Pizzas")">Menu &#187;</a>
        </div>
    </div>
</section>

<section id="contactForm">
    <h1 class="text-uppercase">Drop us a line</h1>
    <hr class="red ml-0" />
    <div class="row">
        <div class="col">

            <div class="row">
                <div class="form-group col">
                    <label for="Name" class="col-form-label font-weight-bold">Name:</label>
                    <input type="text" class="form-control" id="Name" name="Name" placeholder="First Name" />
                </div>
                <div class="form-group col">
                    <label for="LastName" class="col-form-label font-weight-bold">Last name:</label>
                    <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last Name" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="Email" class="col-form-label font-weight-bold">Email:</label>
                    <input type="email" class="form-control" name="Email" id="Email" placeholder="Email" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="Message" class="col-form-label font-weight-bold">Any comments, questions, or concerns, let us know below.</label>
                    <textarea rows="8" id="Message" class="form-control" name="Message" placeholder="Enter some message..."></textarea>
                </div>
            </div>
            <p>
                <button id="contact" class="btn bg-orange text-white">Post</button>
            </p>
        </div>
        <div class="mapouter col-6">
            <div class="gmap_canvas"><iframe width="500" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Finki&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
        </div>
    </div>

</section>

@section scripts{
    <script>
        $(document).ready(function () {
             if ($("#totalRat").text() != "0") {
                var totalRat = parseInt($("#totalRat").html());
                $(".ratingStar").each(function () {
                    if (parseInt($(this).attr("rating")) <= totalRat) {
                        $(this).removeClass("fa-star-o").addClass("fa-star");
                    }
                })
        }
        $("#contact").on('click', function () {
            var obj = {
                Name: $("#Name").val(),
                LastName: $("#LastName").val(),
                Email: $("#Email").val(),
                Message: $("#Message").val()
            };
            $("#Name").val("");
            $("#LastName").val("");
            $("#Email").val("");
            $("#Message").val("");
            $.ajax({
                type: "POST",
                url: "/Home/Contact",
                data: obj,
                success: function (res) {
                    bootbox.alert(JSON.parse(res.responseText).responseText)
                },
                error: function (res) {
                    bootbox.alert(JSON.parse(res.responseText).responseText)
                },
                dataType: "application/json"
            })
        })
      })
    </script>
}