@model PicerijaBarka5.Models.Dtos.PizzaDto
@using PicerijaBarka5.Models
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pizza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dd>
            @Model.Price
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>

        <dd>
            @{
                foreach (var typeOfIngredient in Enum.GetValues(typeof(IngredientType)))
                {
                    <strong>@typeOfIngredient.ToString(): </strong>
                    foreach (var ingredient in Model.Ingredients)
                    {
                        if (ingredient.IngredientType.ToString() == typeOfIngredient.ToString())
                        {
                            <span>@ingredient.Name</span>
                        }
                    }
                    <br />
                }
            }

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PizzaId }, htmlAttributes: new { @class = "btn btn-warning"}) 
    @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
