@model PicerijaBarka5.Models.Dtos.PizzaDto
@using PicerijaBarka5.Models
@{
    ViewBag.Title = "Details";
}

<section id="details" style="margin-top: 80px">
    <div class="card bg-dark">
        <div class="card-header">
            <span class="text-orange text-uppercase">Details</span>
        </div>
        <div class="card-body pr-5">
            <div class="row">
                <div class="col-5 align-middle my-auto h-100 text-center">
                    <img class="img-fluid d-inline-block" src="@Model.ImgUrl" />
                </div>
                <div class="col text-white">
                    <h1 class="text-orange">@Model.Name <span class="float-right">@Model.getPriceInt(Model.Price) den.</span></h1>
                    <hr class="red ml-0" />
                    <div class="row">
                        <div class="col-5">
                            <h4>Ingredients:</h4>
                            <p>
                                @{
                                    foreach (var typeOfIngredient in Enum.GetValues(typeof(IngredientType)))
                                    {
                                        if (Model.Ingredients.Any(x => x.IngredientType.ToString() == typeOfIngredient.ToString()))
                                        {
                                            <strong>@typeOfIngredient.ToString(): </strong>
                                            <span>
                                                @string.Join(", ", Model.Ingredients
                                                                        .Where(x => x.IngredientType.ToString() == typeOfIngredient.ToString())
                                                                        .Select(x => x.Name).ToList())
                                            </span>
                                            <br />
                                        }
                                    }
                                }
                            </p>
                        </div>
                        <div class="col">
                            <h4>Description:</h4>
                            <p class="text-justify">
                                Nunc vel erat id quam vehicula pellentesque. Donec ultricies orci ut felis porttitor,
                                in auctor mi euismod. Nam eu volutpat arcu, eget tincidunt nulla. Etiam nec lorem feugiat,
                                fermentum arcu sit amet, porttitor nisl.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            @{ var data = ViewData["URL"];}
            @if (User.IsInRole(UserRoles.User) && data != null && (data.ToString().Contains("MyPizzas")))
            {
                @Html.ActionLink("Back to List", "MyPizzas", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
            }
            else if (User.IsInRole(UserRoles.Owner) && data != null && (data.ToString().Contains("Orders")))
            {
                <button type="button" class="btn btn-primary" onclick="@("window.location.href='"+data.ToString()+"'")">Back to List</button>
            }
            else
            {
                @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
            }
        </div>
    </div>
</section>
