@model IEnumerable<PicerijaBarka5.Models.Pizza>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Pizzas", FormMethod.Get))
{
    <p>
        Find by name:  @Html.TextBox("SearchString", null, new { id = "searchPizza", @class = "form-control d-inline" })

        <input type="submit" value="Search" class="btn btn-outline d-inline" />
    </p>
}


<table id="pizzaTable" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
            <a href="@Url.Action("Index", "Pizzas", new { sortBy = ViewBag.SortingName })"><i class="fa fa-sort ml-4"></i></a>
          

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
            <a href="@Url.Action("Index", "Pizzas", new { sortBy = ViewBag.SortingName })"><i class="fa fa-sort ml-4"></i></a>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="Search">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.getPrice()
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PizzaId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PizzaId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PizzaId })
            </td>
        </tr>
    }

</table>
  



@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            function Contains(text_one, text_two) {
                if (text_one.indexOf(text_two) != -1)
                    return true;
            }
         
            $('#searchPizza').keyup(function () {
                var searchText = $("#searchPizza").val().toLowerCase();
                $(".Search").each(function () {
                    if (!Contains($(this).text().toLowerCase(), searchText)) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });
            });
        });
    </script>

 
}