@model IEnumerable<PicerijaBarka5.Models.Dtos.PizzaDto>
@using PicerijaBarka5.Models
<section style="margin-top: 80px">
    <h1>@ViewBag.Title</h1>
    <hr />
    @{
        var firstRow = true;
        var end = 0;
    }

    @{
        if (Model.Count() == 0)
        {
            <div class="card text-white bg-dark mb-3 col-3 hoverable" title="Add new">
                <a href="@Url.Action("Create")" class="custom-card-link">
                    <div class="card-body">
                        <h5 class="card-title">Create new</h5>
                        <hr class="red ml-0 mx-0" />
                        <div class="text-center" style="min-height: 100px; color: inherit">
                            <i class="fa fa-plus mt-4 fa-3x"></i>
                        </div>
                    </div>
                </a>
            </div>
        }
        else
        {
            <div class="row pt-3">
                <div class="col-4">
                    @using (Html.BeginForm("Index", "Pizzas", FormMethod.Get))
                    {
                        <p>
                            @Html.TextBox("SearchString", null, new { id = "searchPizza", @class = "form-control d-inline ml-2", placeholder = "Search by name or ingredient" })
                        </p>

                    }
                </div>
                <div class="col-2">
                    @{ var prevUrl = Request.Url.ToString(); }
                    <button type="submit" class="btn btn-outline-secondary d-inline" onclick="@("window.location.href='" + @Url.Action("OrderBy", "Pizzas", new { sortOrder = ViewBag.NameSortParm, Url = prevUrl }) + "'")">Sort by price <i class="ml-2 fa fa-sort"></i></button>
                </div>
            </div>
        }
        <hr />
        for (int j = 0; j < Model.Count();)
        {
            <div class="card-deck">
                @{ if (firstRow)
                    {
                        <div class="card text-white bg-dark mb-3 hoverable firstCard" title="Add new">
                            <a href="@Url.Action("Create")" class="custom-card-link">
                                <div class="card-body" style="min-height:200px">
                                    <h5 class="card-title">Create new</h5>
                                    <hr class="red ml-0 mx-0" />
                                    <div class="text-center" style="min-height: 100px">
                                        <i class="fa fa-plus mt-5 pt-5 fa-3x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        end = 2;
                        firstRow = false;
                    }
                    else
                    {
                        end = 3;
                    }
                }

                @for (int i = 0; i < end; i++)
                {
                    if (j < Model.Count())
                    {
                        var item = Model.ElementAt(j);

                        <div class="card text-white bg-dark mb-3 hoverable item" title="View details">
                            <a href="@Url.Action("Details", new { id = item.PizzaId })" class="custom-card-link">
                                <div class="Search card-body" style="min-height: 250px">
                                    <h5 class="card-title mb-0 pb-0">@item.Name</h5>
                                    <hr class="red ml-0 mt-1 mb-1 " />
                                    <div class="text-center">
                                        <img src="@item.ImgUrl" style="width:190px;height:190px;">
                                    </div>
                                    <p class="card-text mt-2" style="height: 40px;">
                                        @string.Join(", ", item.Ingredients.Select(x => x.Name).ToList())
                                    </p>
                                </div>
                            </a>
                            <div class="card-footer pb-4">
                                @{ var prevUrl = Request.Url.ToString(); }
                                @if (User.IsInRole("User"))
                                {
                                    <div class="sizeDrop float-right">
                                        <select class="form-control size">
                                            @foreach (var ps in PizzaSize.getPizzaSizes())
                                            {
                                                var selected = ps == item.Size ? "selected" : "";
                                                <option class="dropdown-item" @selected>@ps</option>
                                            }
                                        </select>
                                        <span class="float-right mt-2 data priceSpan">@item.Price den.</span>
                                        <span class="float-right mt-2 data priceMedium">@item.getPizzaForMedium() den.</span>
                                        <span class="float-right mt-2 data priceLarge">@item.getPizzaForLarge() den.</span>
                                    </div>
                                    <button class="btn btn-outline-light addToCart pt-2 pb-2" title="Add to Cart" pizza-name="@item.Name" pizza-id="@item.PizzaId">Add to cart</button>
                                }
                                else
                                {
                                    @Html.ActionLink("Edit", "Edit", new { id = item.PizzaId, Url = prevUrl }, new { @class = "btn bg-orange text-white", title = "Edit" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.PizzaId, Url = prevUrl }, new { @class = "btn bg-danger text-white", title = "Delete" })
                                }


                            </div>
                        </div>
                    }
                    j++;
                }
            </div>

        }
    }

</section>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
              $(".priceMedium").hide();
              $(".priceLarge").hide();
            function Contains(text_one, text_two) {
                if (text_one.indexOf(text_two) != -1)
                    return true;
            }
            $(".size").change(function () {
                var dropdown = $(this);
                if (dropdown.val() == "Medium") {
                    dropdown.siblings(".priceSpan").hide();
                    dropdown.siblings(".priceMedium").show();
                    dropdown.siblings(".priceLarge").hide();
                } else if (dropdown.val()=="Large") {
                    dropdown.siblings(".priceSpan").hide();
                    dropdown.siblings(".priceMedium").hide();
                    dropdown.siblings(".priceLarge").show();
                } else {
                    dropdown.siblings(".priceSpan").show();
                    dropdown.siblings(".priceMedium").hide();
                    dropdown.siblings(".priceLarge").hide();
                }
            })
            $(".addToCart").on('click', function () {
                let id = $(this).attr('pizza-id');
                let sizePizza = $(this).siblings(".sizeDrop").children("select").val();
                let name = $(this).attr("pizza-name");
                console.log(id)
                console.log(sizePizza)
                $.ajax({
                    type: "POST",
                    url: "/Cart/AddToCart?id=" + id + "&size=" + sizePizza,
                    success: function () {
                        alert(sizePizza + " " + name + " added to cart");
                    }
                })
            })

            $('#searchPizza').keyup(function () {
                if ($("#searchPizza").val().length == 0)
                    $(".firstCard").show();
                else
                    $(".firstCard").hide();

                var searchText = $("#searchPizza").val().toLowerCase();
                $(".Search").each(function () {
                    if (!Contains($(this).text().toLowerCase(), searchText)) {
                        $(this).parent().parent().hide();
                    }
                    else {
                        $(this).parent().parent().show();

                    }
                });
            });

        });
    </script>


}
