@model PicerijaBarka5.Models.PizzaOrder
@using Newtonsoft.Json
@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

@{
    if (ViewBag.Valid == "True")
    {
        <h2>Hello @Model.User.UserName!</h2>
        <br />
        <h3>Your order Id: @Model.OrderId</h3>
        <table class="table">
            <tr>
                <th>
                    Name of the pizza
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity in cart
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pizza.Name)
                    </td>
                    <td>
                        @item.Pizza.getPrice()
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        <a href="@Url.Action("RemoveFromCart", "Cart", new { id = item.Pizza.PizzaId })">Remove from cart</a>
                    </td>
                </tr>
            }

        </table>

        @Model.Items.Sum(x => x.Pizza.getPrice() * x.Quantity)

        <div class="form-group">
            @Html.LabelFor(m => m.Address)
            <input type="text" name="Address" class="form-control" id="address"/>
        </div>
       
        <button class="btn btn-primary" id="sendRequest">Make order</button>


    }
    else
    {
        <h1>Your cart is empty!</h1>
        <h3>Are you full or just haven't chosen a pizza yet?</h3>
    }

}


@section scripts{
    @{
        var data = (PicerijaBarka5.Models.PizzaOrder)Session["cart"];
        var dataToSend = JsonConvert.SerializeObject(data, new JsonSerializerSettings { Formatting = Formatting.None, ReferenceLoopHandling = ReferenceLoopHandling.Ignore });
    }
    <script>

        $("#sendRequest").on('click', function () {
            let address = $("#address").val();

            $.ajax({
                type: "POST",
                url: "/Orders/Create?Address=" + address,
                data: @Html.Raw(dataToSend),
                success: function () {
                    alert("Your order has been placed");
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Enter a valid address")
                },
                dataType: "json"
            })
        })
    </script>
}
