@model PicerijaBarka5.Models.Dtos.PizzaOrderDto
@using PicerijaBarka5.Models
@using PicerijaBarka5.Helpers

@{
    ViewBag.Title = "Details";
}
<section id="details" style="margin-top: 80px">
    <div class="card bg-dark">
        <div class="card-header">
            <span class="text-orange text-uppercase">Order details</span>
        </div>
        <div class="card-body pr-5">
            <div class="row">
                <div class="col text-white">

                    <div class="row">

                        <div class="col-6">
                            <h3>Details for user:</h3>
                            <hr class="red ml-0" />
                            <ul>
                                <li><span class="font-weight-bold">Email:</span> @Model.User.Email</li>
                                <li><span class="font-weight-bold">Delivery address:</span> @Model.Address</li>
                                <li><span class="font-weight-bold">Time of order:</span> @Model.TimeOfOrder</li>
                            </ul>
                        </div>


                        <div class="col-6">
                            <h3>Details for order:</h3>
                            <hr class="red ml-0" />
                            <ul>
                                <li>
                                    <span class="font-weight-bold">
                                        Status:
                                    </span>
                                    <div class="d-inline-block">
                                        @{
                                            var isDisabled = Model.Status == OrderStatus.Delivered ? "disabled" : "";
                                            <select class="form-control " id="status" order-id="@Model.OrderId" @isDisabled>
                                                @foreach (var item in OrderStatus.GetOrderStatuses())
                                                {
                                                    var selected = item == Model.Status ? "selected" : "";
                                                    if (User.IsInRole(UserRoles.User) && !item.ToString().Equals("Delivered"))
                                                    {
                                                        <option class="dropdown-item" hidden @selected>@item</option>
                                                    }
                                                    else
                                                    {
                                                        <option class="dropdown-item" @selected>@item</option>
                                                    }
                                                }
                                            </select>
                                        }
                                    </div>
                                </li>
                                <li>
                                    <span class="font-weight-bold">Ordered items: </span>
                                    @{
                                        <ul>
                                            @foreach (var item in Model.Items)
                                            {
                                                <li>@item.Pizza.Name: @item.Quantity @item.PizzaSize</li>
                                            }
                                        </ul>
                                    }
                                </li>
                            </ul>

                        </div>
                        <p class="pl-3">
                            @{
                                double totalPrice = 0.0; }
                            @foreach (var item in Model.Items)
                            {
                                if (item.PizzaSize.Equals("Large"))
                                {
                                    totalPrice = totalPrice + item.Pizza.getPizzaForLarge() * item.Quantity;

                                }
                                else if (item.PizzaSize.Equals("Medium"))
                                {
                                    totalPrice = totalPrice + item.Pizza.getPizzaForMedium() * item.Quantity;
                                }
                                else
                                {
                                    totalPrice = totalPrice + item.Pizza.Price * item.Quantity;
                                }
                            }
                            
                            <h3>Total: @Convert.ToInt32(totalPrice) den.</h3>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer row">
            <div class="col-5">
                @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
            </div>
            <div class="col-7">
                <div class="divc float-right mt-2 d-none">
                    <div class="d-inline">
                       
                    <p class="text-white d-inline">Rate us here!</p>
                        </div>
                    <span id="orderRating" class="d-none">@Model.Rating</span>
                    <div class="d-inline">
                        <i class="fa-lg fa fa-star-o ratingStar" rating="1" order-id="@Model.OrderId" style="color:orange;cursor:pointer;"></i>
                        <i class="fa-lg fa fa-star-o ratingStar" rating="2" order-id="@Model.OrderId" style="color:orange;cursor:pointer;"></i>
                        <i class="fa-lg fa fa-star-o ratingStar" rating="3" order-id="@Model.OrderId" style="color:orange;cursor:pointer;"></i>
                        <i class="fa-lg fa fa-star-o ratingStar" rating="4" order-id="@Model.OrderId" style="color:orange;cursor:pointer;"></i>
                        <i class="fa-lg fa fa-star-o ratingStar" rating="5" order-id="@Model.OrderId" style="color:orange;cursor:pointer;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            if ($("#orderRating").text() != "0") {
                var orderRating = parseInt($("#orderRating").html());
                $(".ratingStar").each(function () {
                    if (parseInt($(this).attr("rating")) <= orderRating) {
                        $(this).removeClass("fa-star-o").addClass("fa-star");
                    }
                })
            }
            if ($("#status").val() == "Delivered") {
                $(".divc").removeClass("d-none");
            }
            var iconStar;
            $(".ratingStar").on("click", function () {
                iconStar = $(this);
                iconStar.removeClass("fa-star-o").addClass("fa-star");
                iconStar.prevAll(".ratingStar").removeClass("fa-star-o").addClass("fa-star");
                $.ajax({
                    type: "POST",
                    url: "http://localhost:62459/Orders/GiveRating",
                    data: { id: iconStar.attr('order-id'), rating: iconStar.attr("rating") },
                    success: function (response) {
                        confirm(JSON.parse(response.responseText).message)
                    },
                    error: function (response) {
                        alert(JSON.parse(response.responseText).message)
                    },
                    complete: function () {
                      
                    },
                    dataType: "application/json"
                })
            });  
            
            $("#status").change(function () {
                var dropdown = $(this);
                console.log(dropdown)
                $.ajax({
                    type: "POST",
                    url: "http://localhost:62459/Orders/ChangeStatus",
                    data: { id: dropdown.attr('order-id'), newStatus: dropdown.val() },
                    success: function (response) {
                        bootbox.alert(JSON.parse(response.responseText).message)
                    },
                    error: function (response) {
                        bootbox.alert(JSON.parse(response.responseText).message)
                    },
                    complete: function () {
                        if (dropdown.val() == "Delivered" || dropdown.val() == "Order canceled") {
                            dropdown.attr("disabled", "disabled")
                            $(".divc").removeClass("d-none")
                        }
                    },
                    dataType: "application/json"
                })
            });

        })

    </script>

}