@model PicerijaBarka5.Models.Dtos.PizzaOrderDto
@using PicerijaBarka5.Models
@using PicerijaBarka5.Helpers

@{
    ViewBag.Title = "Details";
}
<section id="details" style="margin-top: 80px">
    <div class="card bg-dark">
        <div class="card-header">
            <span class="text-orange text-uppercase">Order details</span>
        </div>
        <div class="card-body pr-5">
            <div class="row">
                <div class="col text-white">
                    <h1 class="text-orange">Order for: <span class="text-white">@Model.User.UserName</span></h1>
                    <hr class="red ml-0" />
                    <div class="row">

                        <div class="col-6">
                            <strong>Address:</strong>
                            <span>
                                @Model.Address
                            </span><br />
                            <br />
                            <strong>Status:</strong>
                            <div class="d-inline-block">
                                @{
                                    var isDisabled = Model.Status == OrderStatus.Delivered ? "disabled" : "";
                                    <select class="form-control " id="status" order-id="@Model.OrderId" @isDisabled>
                                        @foreach (var item in OrderStatus.GetOrderStatuses())
                                        {
                                            var selected = item == Model.Status ? "selected" : "";
                                            <option class="dropdown-item" @selected>@item</option>
                                        }
                                    </select>
                                }
                            </div>
                            <br />
                            <br />

                            <strong>Total:</strong>
                            <span>@Model.Items.Select(x => x.Pizza.Price * x.Quantity).Sum()</span>
                        </div>
                        <div class="col-6">
                            <h4>Ordered items:</h4>
                            <p>
                                @{
                                    <ul>
                                        @foreach (var item in Model.Items)
                                        {
                                            <li>@item.Pizza.Name: @item.Quantity</li>
                                        }
                                    </ul>
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#status").change(function () {
                var dropdown = $(this);
                console.log(dropdown)
                $.ajax({
                    type: "POST",
                    url: "http://localhost:62459/Orders/ChangeStatus",
                    data: { id: dropdown.attr('order-id'), newStatus: dropdown.val() },
                    success: function (response) {
                        confirm(JSON.parse(response.responseText).message)
                    },
                    error: function (response) {
                        alert(JSON.parse(response.responseText).message)
                    },
                    complete: function () {
                        if (dropdown.val() == "Delivered") {
                            dropdown.attr("disabled", "disabled")
                        }
                    },
                    dataType: "application/json"
                })
            });
        })

    </script>

}