@model PicerijaBarka5.Models.Dtos.PizzaOrderDto
@using PicerijaBarka5.Models
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PizzaOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @{
                Html.AntiForgeryToken();
                var disabled = Model.Status == OrderStatus.Delivered ? "disabled" : "";
                <select class="form-control" id="status" order-id="@Model.OrderId" @disabled>
                    @foreach (var item in OrderStatus.GetOrderStatuses())
                    {
                        var selected = item == Model.Status ? "selected" : "";
                        <option class="dropdown-item" @selected>@item</option>
                    }
                </select>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Items)
        </dt>

        @foreach (var cartItem in Model.Items)
        {
            <span class="d-inline-block">@cartItem.Pizza.Name</span>
            <span class="d-inline-block">@cartItem.Quantity</span>
        }

        <dd>
            Price
        </dd>

        <dt>
            @Model.Items.Sum(cartItem => cartItem.Pizza.Price * cartItem.Quantity)
        </dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#status").change(function () {
                var dropdown = $(this);
                console.log(dropdown)
                $.ajax({
                    type: "POST",
                    url: "http://localhost:62459/Orders/ChangeStatus",
                    data: { id: dropdown.attr('order-id'), newStatus: dropdown.val() },
                    success: function (response) {
                        confirm(JSON.parse(response.responseText).message)
                    },
                    error: function (response) {
                        alert(JSON.parse(response.responseText).message)
                    },
                    complete: function () {
                        if (dropdown.val() == "Delivered") {
                            dropdown.attr("disabled", "disabled")
                        }
                    },
                    dataType: "application/json"
                })
            });
        })

    </script>

}