@model IEnumerable<PicerijaBarka5.Models.Dtos.PizzaOrderDto>
@{
    ViewBag.Title = "Index";
}

<h2>Order</h2>

<table class="table">
    <tr>
        <th>
            Client
        </th>
        <th>
            Address
        </th>
        <th>
            Price
        </th>
        <th>
            Products
        </th>
        <th></th>
    </tr>

    @foreach (var order in Model)
    {
        <tr>
            <td>
                @order.User.UserName
            </td>
            <td>
                @order.Address
            </td>
            <td>
                @order.Items.Sum(x => x.Pizza.Price * x.Quantity)
            </td>
            <td>
                @{
                    foreach (var cartItem in order.Items)
                    {
                        <span>@cartItem.Pizza.Name</span> <br />
                        <span>@cartItem.Quantity</span>

                    }
                }
            </td>
            <td>
                <a href="@Url.Action("Details", "Orders", new { id = order.OrderId })">View order details</a>
            </td>
        </tr>
    }

</table>




