@model IEnumerable<PicerijaBarka5.Models.Dtos.PizzaOrderDto>
@using PicerijaBarka5.Helpers
@{
    ViewBag.Title = "Index";
}

<section style="margin-top: 80px">
    <h1>Orders</h1>

    <table class="table table-hover table-striped mt-3" id="ordersTable">
        <thead class="bg-dark text-white p-0 m-0">
            <tr class="row">
                <th class="col-1">
                    #
                </th>
                <th class="col-3">
                    Address
                </th>

                <th class="col-3">
                    Date and time of order
                </th>
                <th class="col-2">
                    Price
                </th>
                <th class="col-2">
                    Status of order
                </th>
                <th class="col-1">

                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var j = 1;
                foreach (var order in Model)
                {
                    <tr class="row">
                        <td class="col-1">
                            @j
                        </td>
                        <td class="col-3">
                            <span> @order.Address </span>
                        </td>

                        <td class="col-3">
                            <span>@order.TimeOfOrder</span>
                        </td>
                        <td class="col-2">
                            @{ double totalPrice = 0.0; }
                            @foreach (var item in order.Items)
                            {
                                if (item.PizzaSize.Equals("Large"))
                                {
                                    totalPrice = totalPrice + item.Pizza.getPizzaForLarge() * item.Quantity;

                                }
                                else if (item.PizzaSize.Equals("Medium"))
                                {
                                    totalPrice = totalPrice + item.Pizza.getPizzaForMedium() * item.Quantity;
                                }
                                else
                                {
                                    totalPrice = totalPrice + item.Pizza.Price * item.Quantity;
                                }
                            }
                            <span>@totalPrice</span>
                        </td>
                        <td class="col-2">
                            @{ 
                                var orderColorClass = Html.SetOrderStatusClass(order.Status);
                            }
                            <span class="@orderColorClass">
                                <i class="fa fa-circle align-middle @orderColorClass" style="font-size: 7px"></i>
                                <b>@order.Status</b>
                            </span>
                        </td>
                        <td class="col-1 text-center align-content-around">
                            <span>
                                <span class="text-decoration-none text-center deleteOrder mr-2" title="Delete order" order-id="@order.OrderId">
                                    <i class="fa fa-times delete"></i>
                                </span>
                                <a href="@Url.Action("Details", "Orders", new { id = order.OrderId })" class="text-decoration-none text-center" title="View order details">
                                    <i class="fa fa-caret-right orderDetails"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                    j++;
                }
            }
        </tbody>
        <tfoot>

        </tfoot>
    </table>

</section>
@section scripts{

    <script>
        $(document).ready(function () {
            $(".deleteOrder").click(function () {
                var button = $(this);
                bootbox.confirm("Are you sure", function (result) { 
                    if (result) {
                        $.ajax({
                            method: "POST",
                            url: "/Orders/Delete",
                            data: { id: button.attr("order-id") },
                            success: function () {
                                button.closest("tr").get(0).remove();
                            },
                            type: "application/json"
                        });
                    }
                }) 
            });

        });
    </script>
}