<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
@using PicerijaBarka5.Helpers
@{
    var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var action = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
}
<body class="p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Barka 5</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item @Html.SetActiveClass(controller, "Pizzas", action, "Index")">
                        <a class="nav-link " href="@Url.Action("Index", "Pizzas")">Menu</a>
                    </li>
                    <li class="nav-item @Html.SetActiveClass(controller, "Ingredients")">
                        <a class="nav-link" href="@Url.Action("Index", "Ingredients")">Ingredients</a>
                    </li>
                    <li class="nav-item @Html.SetActiveClass(controller, "Pizzas", action, "MyPizzas")">
                        <a class="nav-link" href="@Url.Action("MyPizzas","Pizzas")">My Pizzas</a>
                    </li>
                    <li class="nav-item @Html.SetActiveClass(controller, "Orders", action, "Cart")">
                        <a class="nav-link" href="@Url.Action("Cart","Orders")">Cart</a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
